@model SimpleDocumentStore.Models.Doc

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Doc</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SystemGuid)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SystemGuid)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SystemDocId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SystemDocId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DocType.DocTypeDescription)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DocType.DocTypeDescription)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FilePath)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FilePath)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FileType)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FileType)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FileName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FileName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CreateDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreateDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CreateUser)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreateUser)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UpdateDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UpdateDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UpdateUser)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UpdateUser)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IsDeleted)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsDeleted)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
